.menu {
  width: 100%;
  background-color: #232f3e;
  color: white;
  display: flex;
  box-sizing: border-box;
  height: 35px;

  .all {
    padding: 8px 9px;
    cursor: pointer;

    &:hover {
      border: 1px solid white;
    }
  }

  ul {
    display: flex;
    box-sizing: border-box;

    li {
      list-style-type: none;
      padding: 8px 9px;
      cursor: pointer;

      &:hover {
        border: 1px solid white;
      }
    }
  }
}
a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .menu {
    position: relative;
    bottom: 28px;
    background-color: #131a22;
  }
}

@media screen and (max-width: 530px) {
  .menu {
    .all {
        font-size: 0.8em;
    }
    ul {
      li {
        padding: 8px 4px;
        font-size: 0.8em;
      }
    }
  }
}
