.product-listing {
  .list-header {
    background-color: white;
    color: black;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px lightgrey;
    display: flex;
    justify-content: space-between;
    // height: 50px;
  }

  .list-container {
    display: flex;
    padding: 20px 0;

    .list-sorting {
      width: 20%;
    }

    .product-list {
      width: 80%;

      .products {
        display: flex;
      }
    }
  }
}
